*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
#section-1{
    background-image: url(/assets/backgrounds/h_img.jpg);
    background-size: cover;
    height: 90vh;
    background-attachment: fixed;
    color: white;
}

#logo{
    padding-top: 20vh;
    padding-bottom: 20px;
}

#m-logo{
    padding-top: 100px;
}

#section-2{
    margin: 40px;
}

#section-3{
    background-image: url(/assets/backgrounds/s_image.jpg);
    color: white;
    padding: 90px;
}

#section-4 h1{
    margin-top: 40px;
    margin-bottom: 40px;
}

.work-1, .work-2, .work-3{
    display: none;
    height: 100vh;
}