*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#section-1{
    background-image: url(/assets/backgrounds/h_img.jpg);
    background-size: cover;
    height: 110vh;
    background-attachment: fixed;
    color: white;
}

#logo{
    padding-top: 20vh;
    padding-bottom: 20px;
}

#m-logo{
    padding-top: 90px;
}

#section-2{
    margin: 40px;
}

#section-3{
    background-image: url(/assets/backgrounds/s_image.jpg);
    color: white;
    padding: 90px;
}

#section-4 h1{
    margin-top: 40px;
    margin-bottom: 40px;
}

.work-1, .work-2, .work-3{
    display: none;
    height: 25vh;
}

#section-5{
    max-width: 80vw;
    padding: 5px;
}

.pr-1, .pr-2, .pr-3, .pr-4, .pr-5, .pr-6, .pr-7, .pr-8{
    height: 160px;
    width: 160px;
    margin: 5px;
    position: relative;
    margin-bottom: 20px;
}

.pr-1{
    background-image: url(/assets/portfolio/work4.jpg);
    background-size: cover;
}

.pr-2{
    background-image: url(/assets/portfolio/work3.jpg);
    background-size: cover;
}

.pr-3{
    background-image: url(/assets/portfolio/work2.jpg);
    background-size: cover;
}

.pr-4{
    background-image: url(/assets/portfolio/work1.jpg);
    background-size: cover;
}

.pr-5{
    background-image: url(/assets/portfolio/work5.jpg);
    background-size: cover;
}

.pr-6{
    background-image: url(/assets/portfolio/work6.jpg);
    background-size: cover;
}

.pr-7{
    background-image: url(/assets/portfolio/work7.jpg);
    background-size: cover;
}

.pr-8{
    background-image: url(/assets/portfolio/work8.jpg);
    background-size: cover;
}

.text{
    width: 160px;
    height: 160px;
    margin: auto;
    font-weight: bolder;
    background-color: rgb(255, 255, 255,0.6);
    text-align: center;
    position: absolute;
    display: none;
}

#pro{
    margin-top: 70px;
}

#section-6{
    background-image: url(/assets/backgrounds/c_image.jpg);
    max-width: 100vw;
    color: white;
    padding: 30px;
    margin-top: 40px;
    height: 380px;
    background-size: cover;
}

form{
    max-width: 90%;
    width: 700px;
}

form input{
    width: 45%;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 7px;
    margin-right: 20px;
}

form textarea{
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 7px;
}

::placeholder{
    color: white;
}

#message{
    padding: 5px;
    margin: 17px;
    width: 650px;
    max-width: 85%;
}

footer{
    padding-top: 30px;
    margin: auto;
}

#clear{
    width: 45%;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 7px;
    margin-right: 20px;
}